body {
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 17px;
}

----------navigation 
nav, nav * {
    font-family: 'Kanit', sans-serif;
}

.active-link {
    color: #ffd1dc!important;
}

---------footer 
footer, footer * {
    font-family: 'Kanit', sans-serif;
}

-------- rest of the site
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.introduction-text {
    font-style:oblique;
}
